* {
    margin: 0px;
    margin-top: 0px;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

body {
    overflow-x: hidden;
    margin: 0px;

    background: linear-gradient(to bottom, #a5d6a7, #81c784, #66bb6a);

    width: 100%;
}

/* ================================== Header ================================= */
.header {
    background: rgba(0, 0, 0, 0.2);
    /* transparent white */
    backdrop-filter: blur(100px);
    /* blur background */
    -webkit-backdrop-filter: blur(10px);
    
    color: #fff;
    z-index: 1000;
    transition: background 0.3s ease-in-out;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    color: white;
    position: fixed;



}

header h1 {
    margin: 10px;
    color: #2f00ff;
}

.navlinks {
    
    
    margin-top: 20px;
    margin-right: 30px;
    display: flex;
    justify-content: space-around;
    gap: 50px;


}

.navlinks a {
    color: var(--text);
    color: #ffffff;
    text-decoration: none;
    padding-top: 2px;
    position: relative;
    font-weight: 1000;
    transition: all 0.3s ease
}


.navlinks a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    
    left: 0;

    height: 2px;
    background-color: #195cee;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease, height 0.3s ease 0.3s;

}
.navlinks a:hover{
    color: #ffffff;
    
    
}

.navlinks a:hover::after {
    transform: scaleX(1);
    height: 2px;
    
}
.cartm{
   
 width: 110px;
 height: 50px;

border: 1px solid transparent;
 
 


}
.cartm:hover{
  border: 1px solid transparent; 

}
.cart{
   
 width: 110px;
 height: 50px;
 margin-top: -10px;
border: 1px solid transparent;
 
 


}
.cart:hover{
  border: 1px solid rgb(255, 255, 255); 

}
.cart-icon{
    margin-top: 5px;
    width: 50px;
    margin-left: 5px;
    
}
.cart-quantity{
    margin-top: -45px;
    margin-left: 30px;
    font-size: 25px;
    color: rgb(245, 114, 66);
}
.cart-text{
    color: white;font-size: 20px;
    margin-left: 60px;
    margin-top: -10px;
}

.contactm{
    width: 0px;
    padding-left: 20px;
    margin-top: -54px;
    
    margin-left: 100px;
    
}
.header button{
    /* margin: 15px; */
    padding: 3px;
    
    margin-top: -100px;
    margin-left: 120px;
    background: #001dd7;
    color: #fbfcfd;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 1px 2px 3px rgb(0, 0, 0);
    
    transition: all 0.3s ease;
    

    
}
.header .contact {
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-left: -0px;

    
    
}
.header button:hover{
    background: #0164c7;
    border: 1px solid #0080ff;
    transform: scale(1.02);
    box-shadow: 0px 0px 0px 2px rgb(13, 0, 255);
}
/* =========================== Image Rolling Start ============================= */
.container {
            width: 100%;
            max-width: 1200px;
            text-align: center;
        }
        
        .gallery-container {
            position: relative;
            width: 100%;
            overflow: hidden;
            margin: 30px 0;
            padding: 20px 0;
        }
        
        .gallery-track {
            display: flex;
            width: max-content;
            animation: scroll 40s linear infinite;
        }
        
        .gallery-track:hover {
            animation-play-state: paused;
        }
        
        .image-item {
            width: 300px;
            height: 200px;
            margin: 0 15px;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            transition: transform 0.3s ease;
            position: relative;
            flex-shrink: 0;
        }
        
        .image-item:hover {
            transform: scale(1.05);
            z-index: 10;
        }
        
        .image-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
        
        .image-caption {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.7);
            color: white;
            padding: 10px;
            transform: translateY(100%);
            transition: transform 0.3s ease;
        }
        
        .image-item:hover .image-caption {
            transform: translateY(0);
        }
        
        @keyframes scroll {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-50%);
            }
        }
       
        
        

/* ==================================== Image Rolling End ======================================= */
/*================================ Home page ===========*/


.home {

    width: 100%;
    height: 100vh;
    margin-top: 0px;
    text-align: center;
   
    background-image: url(https://wallpapercave.com/wp/wp15813685.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*background-position: center; */
    box-sizing: border-box;
    overflow: hidden;
}
.homeheading{
     width: 100%;
    height: 100vh;
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}
.home .head{
    
    width: 600px;
    height: 100px;
    align-items: center;
    align-self: center;
    color: #000000;
    border-radius: 20px;
    background: #6bfd63a2;
}
.home .head h2{
   margin-top: 18px;
}
/* .image-container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 250px;
    justify-items: stretch;
    animation: animation 12s linear infinite;
} */
.button2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;


}
.mbutton button{
    width: 130px;
    height: 50px;
    cursor: pointer;
    
   align-self: center;
    text-align: center;
    border: 2px solid rgb(155, 145, 145);
    
    border-radius: 10px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background: #0d7bdc;
    transition: all 0.3s ease;

}
.mbutton button:hover{
    background: #278be2;
    transform: scale(1.2);
}
.bar1 {
    scroll-margin-top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
    margin-bottom: 40px;
    color: white;
    
}

.search {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.st {
    width: 100%;
    min-height: 100vh;
   background: #000;
   /* background-image: url(https://wallpapercave.com/wp/wp5206819.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */


}

.plants h1 {
    font-size: 100px;
    background: linear-gradient(90deg, #7CFC00, #32CD32, #228B22, #006400);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

/*=======================================================================outer box 1*/
.O1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;



}

.Obox {
    border-radius: 30px;
    width: 1400px;
    min-height: 300px;
    box-sizing: border-box;

    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 40px rgb(38, 0, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;



}

/*=========================================================================inner box 1*/
.plant {
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    position:relative;
    overflow: auto;
    
    
}

.Tulsi {

    width: 400px;
    height: 310px;
    background:rgb(255, 255, 255);
    /* box-shadow: 1px 2px 40px rgb(194, 180, 180); */

    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
    transition: all 1s ease;
    
    

}
.Tulsi:hover{
    transform: translateY(-2px);
    transform: scale(1.04);
    box-shadow: 1px 2px 40px blue;
}


.Tulsi img {
    width: 400px;
    height: 150px;
    margin-left: -10px;
    margin-top: -6px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.Tulsi h4 {
    color: rgb(0, 0, 0);
    font-size: 50px;
    
    margin-top: -5px;
}


 .product-footer{
    display: flex;
    justify-content: space-around;
 }
        .product-price {
            font-size: 1.8rem;
            font-weight: 700;
            color: #2c3e50;
        }
        
        .product-price span {
            font-size: 1rem;
            color: #7f8c8d;
            text-decoration: line-through;
            margin-left: 5px;
        }
        
        .add-to-cart {
            background: #4CAF50;
            color: white;
            border: none;
            padding: 12px 25px;
            border-radius: 50px;
            font-weight: 600;
            cursor: pointer;
            display: flex;
            align-items: center;
            transition: all 0.3s ease;
        }

       .add-to-cart.added {
            background: #2196F3 !important;
        }
        
        .add-to-cart:hover {
            background: #45a049;
        }
        
        .add-to-cart i {
            margin-right: 8px;
        }
        
        .rating {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }
        
        .stars {
            color: #FFC107;
            margin-right: 8px;
        }
        
        .rating-value {
            color: #3e4849;
            font-size: 0.9rem;
        }


.Tulsi p{
    margin-top: -10px;
}

/* ----------------------------------------------------- */
/* cart */
.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    margin-top: 40px;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .close{
    background-color: #eee;
}
.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
.cart-total {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

.total-amount-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}

.total-label {
    font-weight: 600;
    color: #ded8d8;
}

.total-value {
    color: #2e8b57;
    font-size: 20px;
}


/* ----------------------------------------------------- */

.gm {
    scroll-margin-top: 0px;
    width: 100%;
    padding-top: 60px;
    height: 100vh;
    background: linear-gradient(to bottom, #a5d6a7, #81c784, #66bb6a, #a5d6a7);

}

.maps {
    width: 100%;

    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
   
}

.gm h1 {
    text-align: center;
    font-size: 100px;
    background: #000;
    background: linear-gradient(90deg, #fc3f00, #325bcd, #228B22, #dab924);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.map {

    width: 100%;
    max-width: 800px;
    height: 450px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 40px rgb(38, 0, 255);
}

.map iframe {
    width: 100%;
    height: 100vh;
    border: 0;
}

/* ===================================== FAQ =============================== */
#faq {
    width: 100%;
    padding-top: 60px;
    height: 100vh;
    margin-bottom: 0px;
    background: linear-gradient(to bottom, #a5d6a7, #81c784, #66bb6a,#a5d6a7);

}

#faq h3 {
    color: #325bcd;
    width: 100%;
    text-align: center
}

#faq h2 {
    color: #ffffff;
    width: 100%;
    text-align: center;
    font-size: 35px;
}

.faq-list {
    width: 90%;
    height: 70vh;
    background: white;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);

}

.faq-list details {

    color: rgb(66, 64, 64);
    cursor: pointer;
    margin-left: 30px;
}

.faq-list summary {
    font-size: 20px;
    font-weight: 1000;


}

#faq hr {
    width: 95%;


    margin-left: 32px;



}

.faq-list p {
    margin-top: 20px;
    color: #514747c5;
    font-size: 20px;
    font-weight: 00;

}




/* ================================== Contact ============================== */

.contact{
    width: 100%;
    height: 100vh;
     background: linear-gradient(to bottom, #a5d6a7, #81c784, #66bb6a);
    margin-top: -20px;
    font-family: sans-serif;
    
    

}
.cont1{
    width: 100%;
    height:80vh;
    display: flex;
    
}
.contactmy h2{
    color: rgb(59, 57, 57);
    margin: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size:40px;
}
.contactmy h3{
    
    padding-top: 40px;
    padding-left: 30px;
    color: rgba(0, 0, 0, 0.563);
    text-align: start;
    font-size:40px;
}
.contactmy h4{
    margin: 0;
    color: rgba(0, 0, 0, 0.563);
    text-align: center;
    font-size:20px;
    text-align: start;
}
.contactmy p{
    margin: 0;
    color: rgba(0, 0, 0, 0.563);
    text-align: center;
    font-size:18px;
    text-align: start;
}

.c1{
    display: flex;
}
.clogo{
    width: 40%;
    height: 50vh;
    margin-top: 0px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: fit-content;
    align-items: center;

    
}
.clogo  i{
    
    width: 70px;
    background: #ffffff4b;
    height: 70px;
    border-radius: 50px;
    padding-top: 20px;
    
    font-size: 30px;
    text-align: center;
    
    
    
    
}
.cinfo{
    margin-left: 20px;
    line-height: 30px;
}
.contactmy{
    height: 80vh;
    width: 99%;
    padding-top: 60px;
}
.contact1{
    margin-left: 50px;
    width: 50%;
    height: 78%;
    background: #488ab6f8;
    border-radius: 20px;
}
.c5{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.getintouch{
    width: 100%;
    height: 85vh;
    margin-left: 100px;
    color: rgb(15, 13, 13);
    /* background: #56cfff; */
    border-radius: 20px;
}
.getintouch h3{
    width: 100%;
    margin-top: -10px;
   
    font-size: 30px;
    color: rgb(36, 34, 34);
}
.getintouch form{
    margin-top: -20px;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.form{
    width: 100%;
    height: 100%;
    margin-left: 40px;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    justify-content: space-around;
}
.form label{
 width: 100%;
 font-size: 20px;
 
}
.form input{
    width: 90%;
    height: 30px;
    border-color: #ffffff;
    border: 2px sloid rgb(0, 0, 0);
    border-right-color: #a49f9f;
    border-bottom-color: #c9b7b7;
    border-radius: 5px;
    
    margin-top: 10px;
    margin-bottom: 20px;
    /* box-shadow: inset 0px 1px 1px rgba(96, 95, 95, 0.704);*/
    text-indent: 10px; 

}
.form input:focus {
    outline: none;
            border-color: #4a6cf7;
            box-shadow: 0 0 0 3px rgba(0, 51, 255, 0.2);
    
}
.form textarea{
     width: 90%;
    
    padding: 10px; 
    
    resize: vertical;
    border-radius: 5px;
    border:2px solid rgb(176, 167, 167);
    margin-top: 10px;
    /* box-shadow: inset 0px 1px 1px rgba(96, 95, 95, 0.704); */
    text-indent: 10px;
    height: 60px;
    
}

.sendm{
    width: 90%;
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
.getintouch button{

    width: 120px;
    height: 60px;
    cursor: pointer;
    text-align: center;
    border: 2px solid rgb(155, 145, 145);
    
    border-radius: 10px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background: #0d7bdc;
}
.getintouch button:hover{
    background: #2689e0;
    box-shadow: 0px 0px 1px black;
}
.form textarea:focus {
    outline: none;
            border-color: #0234ff;
            box-shadow: 0 0 0 3px rgba(0, 50, 251, 0.2);
    
}

@media(max-width:1000px) {
    .ibox1 {
        order: 1;
        margin-top: 20px;
        max-width: 400px;
        margin: 20px;
    }

    .ibox2 {
        order: 2;
        max-width: 300px;
    }

    .imgs2 {
        max-width: 370px;
    }

    .img2 img {
        max-width: 125px;
        max-height: 125px;
    }

    .img3 img {
        max-width: 125px;
        max-height: 125px;
    }

    .infoimg2 {
        margin-top: -105px;
        text-align: center;
        /* margin-left: 20px; */
    }


    .ibox3 {
        order: 3;
        margin-bottom: 20px;
        margin: 20px;


    }

    .ibox3 img {
        max-width: 300px;
        margin-left: -7.5px;
    }

    .Obox {


        margin: 18px;

        width: 325px;

    }
}






footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 110px;
    text-align: center;
    background-color: rgb(52, 50, 50);
    box-shadow: 0px 0px 10000px rgb(0, 0, 255);

}

footer p {
    padding-top: 10px;
    color: #f4f4f9;

}

.social-media {


    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    /* border:2px solid rgb(0, 0, 0); */
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;

    width: fit-content;
    height: 60px;
    /* margin-top: 20px; */

    margin-left: auto;
    margin-right: auto;
}

.con {
    color: white;
    transition: 0.3s;
}

.con1 {}

#con1:hover {

    color: rgb(252, 146, 146);
    transform: translateY(-5px)scale(1.2);

}

#con4:hover {
    height: 30px;
    border-radius: 10px;
    transform: translateY(-5px)scale(1.2);
    background: linear-gradient(to bottom, #245bbb, #9775d2, #f84545, #fc8631, #ffe135, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#con2:hover {
    transform: translateY(-5px)scale(1.2);
    color: #286fea;
    filter: none;
}

#con3:hover {
    height: 29px;
    border-radius: 15px;
    color: #000;
    transform: translateY(-5px)scale(1.2);

}


/* @media(max-width:1000px){
    h1{
        font-size: 5px;
    }
    .about-contant{
        grid-template-columns: 1fr;
    }
    .photo img{
        order: -1;
    }
    .information p{
        order: 2;
    }
    nav ul{
        display: none;
    }
    .but-secondary{
        margin-bottom: 0;
        margin-top: 1rem;
    } */