</main>
<!-- ========================Footer Start ============================================== -->
<footer>
    <div class="social-media">
        <a class="con" href="mailto:contact@herbalgarden.com" target="_blank"><i class='bx bx-envelope'></i></a>
        <a class="con" href="https://www.linkedin.com" target="_blank"><i class='bx bxl-linkedin'></i></a>
        <a class="con" href="https://github.com" target="_blank"><i class='bx bxl-github'></i></a>
        <a class="con" href="https://x.com" target="_blank"><i class='bx bxl-twitter'></i></a>
        <a class="con" href="https://www.instagram.com" target="_blank"><i class='bx bxl-instagram'></i></a>
    </div>
    <p>&copy; <%= new Date().getFullYear() %> Herbal Garden. All rights reserved.</p>
</footer>
<script src="/js/cartManager.js"></script>
</body>
</html>